@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');

body {
    width: 100vw;
    min-height: 100vh;

    margin: 0;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}
img {
    width: 500px;
    max-width: 90vw;
}
h1 {
    margin: 15px 0;
    font-family: 'Dosis', sans-serif;
}
input {
    border: none;
    background-color: transparent;

    width: 90vw;
    max-width: 250px;
    margin: 0;

    font-size: 15px;
    text-align: center;
    caret-color: transparent;
    font-family: 'Dosis', sans-serif;
}
input::placeholder {
    color: black;
}
input:focus {
    outline: none;
}